<div class="container-fluid">
  <div class="row section">
    <div class="col-md-12">
      <h1>Bills & Subscriptions</h1>
    </div>
  </div>
  <br>

  <div class="section" id="subscription-list">
    <% @subscriptions.in_groups_of(4) do |group| %>
      <div class="row">
        <% group.compact.each do |subscription| %>
          <div class="col-md-3 list-links">
            <%= link_to subscription do %>
              <div class="subscription">
                <h4><%= subscription.title %></h4>
                <p><%= subscription.details %><br>
                  <%= number_to_currency subscription.amount %><br>
                  <%= subscription.due_date %><br>
                  <%= subscription.status %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 list-links">
      <%= link_to new_subscription_path do %>
        <div class="new-subscription">
          <h4>Create a New Subscription</h4>
        </div>
      <% end %>
    </div>
  </div>
  
</div>