<container class="container">
	<div class="row">
		<div class="col-md-3 subscription">
			<h4><b>Title: </b><%= @subscription.title %></h4>
			<p><b>Amount: </b>$<%= @subscription.amount %></p>
			<p><b>Due Date: </b><%= @subscription.due_date %></p>
			<p>
				<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
				<%= link_to 'Delete', @subscription, data: { confirm: 'Are you sure?' }, method: :delete %>
			</p>
		</div>
	</div>
	<br>
	<div class="row">
		<p><%= link_to 'Return to List', subscriptions_path %></p>
	</div>
</container>
